@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700&family=Raleway:wght@300;400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--primary: #fafafa;
	--secondary: #18181b;
}

:root.dark {
	--primary: #18181b;
	--secondary: #fafafa;
}

.header {
	position: relative;
	cursor: none;
}

.header::before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: var(--secondary);
	transition: 0.5s;
	clip-path: circle(100%);
	z-index: -1;
}

@media (min-width: 768px) {
	.header::before {
		clip-path: circle(0);
	}
	.header:hover::before {
		clip-path: circle(100%);
	}
}

.header h2 {
	color: var(--primary);
}

.header:hover h2 {
	transition: 0.3s 0.3s clip-path;
	opacity: 1;
	z-index: 10;
}

:root.dark img {
	filter: invert(13);
}

.toggle > div {
	position: relative;
}

.toggle > * {
	pointer-events: none;
}

.toggle > div::before {
	content: '';
	position: absolute;
	top: 0;
	width: 50%;
	height: 100%;
	aspect-ratio: 1 / 1;
	background-color: var(--secondary);
	transition: 0.4s transform;
}

.toggle[data-value='ui'] > div span:nth-child(1) {
	color: var(--primary);
}

.toggle[data-value='dev'] > div::before {
	transform: translateX(100%);
}

.toggle[data-value='dev'] > div span:nth-child(2) {
	color: var(--primary);
}

#contentWork[data-content='ui'] div:nth-child(1) {
	display: block;
}

#contentWork[data-content='dev'] div:nth-child(2) {
	display: block;
}

#contentSkills[data-content='ui'] div:nth-child(1) {
	display: flex;
}

#contentSkills[data-content='dev'] div:nth-child(2) {
	display: flex;
}

input,
textarea {
	background-color: transparent;
}

input:active {
	outline: none;
}

input[type='checkbox'] {
	appearance: none;
	display: block;
	padding: 0 0.3rem;
	font-size: 14px;
	color: var(--secondary);
	border: 1px solid var(--secondary);
	cursor: pointer;
}

input[type='checkbox']:checked {
	color: var(--primary);
	background-color: var(--secondary);
}

input[type='checkbox']::before {
	content: attr(name);
}

#cursor {
	--x: -100px;
	--y: -100px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 4rem;
	height: 4rem;
	transform: translate(calc(var(--x) + -50%), calc(var(--y) + -50%));
	pointer-events: none;
	transition: 0.05s transform;
	mix-blend-mode: difference;
}
:root.dark #cursor div {
	background-color: var(--primary);
	border-color: var(--secondary);
}

#cursor div {
	width: 50%;
	height: 50%;
	transition: 0.1s;
}

#cursor[data-hover='true'] div {
	width: 100%;
	height: 100%;
	transition: 0.1s;
}

#cursor[data-hidden='true'] div {
	opacity: 0;
	transition: 0.2s;
}
